h2, p {
    text-align: center;
    justify-content: center;
    margin: auto;
    padding: auto;
}

.aboutImg {
    max-width: 60%;
    height: auto;
}

.aboutContainer {
    display: flex;
    flex-direction: column;
    min-height: 86vh;
}

.aboutRow {
    margin-bottom: 5%;
}

@media only screen and (max-width: 540px) {
    .aboutImg {
        max-width: 60%;
        height: auto;
        margin-left: 22%;
    }
  }