.modal-90w {
    min-width: 60%;
}

.modalDescription {
    font-size: 18px;
    text-align: justify;
    padding: auto;
    margin-top: 3%;
}

.modalPrice {
    font-size: 18px;
    text-align: justify;
    padding: auto;
    margin-top: 3%;
}

div.modalTitle {
   padding-left: 2%;
}