.circle {
  background: #E0AFA0;
  border-radius: 50%;
  color: #F4F3EE;
  height: 100px;
  position: relative;
  width: 100px;
}

.circle-content {
  hyphens: auto;
  margin: 0.75em;
  text-align: center;
  justify-content: center;
  padding-top:19px;
  color: #F4F3EE;
  font-size: 18px !important;
  font-weight: 150 !important;
}

.mr-auto a {
  color: #463F3A;
  text-decoration: none;
  font-size: 16px;
  padding-left: 10px;
}

.mr-auto a :hover {
  color: #463F3A;
}

.login a{
  color: #463F3A;
  text-decoration: none;
  font-size: 16px;
  padding-right: 5px;
}

a.login.nav-link :hover {
  color: #403935
}

.shoppingCart {
  outline: none;
}

a.dropdown-item.active  {
  background-color: #8A817C;
}

a.dropdown-item:active {
  background-color: #8A817C;
}

a#dropdown-basic-button {
  padding: auto;
  padding-top: 9px;
  font-size: 15px;
}

