.circle {
  background: #f1bbe4;
  border-radius: 50%;
  color: rgb(250, 244, 244);
  height: 100px;
  position: relative;
  width: 100px;
}

.circle-content {
  hyphens: auto;
  margin: 0.75em;
  text-align: center;
  justify-content: center;
  padding-top:19px;
  color: whitesmoke;
}

.mr-auto a {
  color: rgb(100, 100, 100);
  text-decoration: none;
  font-size: 16px;
  padding-left: 10px;
}

.mr-auto a :hover {
  color: black;
}

.login a{
  color: rgb(100, 100, 100);
  text-decoration: none;
  font-size: 16px;
  padding-right: 5px;
}

a.login.nav-link :hover {
  color: black
}

.shoppingCart {
  outline: none;
}

a.dropdown-item.active  {
  background-color: darkgray;
}

a.dropdown-item:active {
  background-color: darkgray;
}

a#dropdown-basic-button {
  padding: auto;
  padding-top: 9px;
  font-size: 15px;
}

