li {
    list-style-type: none;
}

h3 {
    padding: 30px;
    text-align: center;
}

div .card {
    outline: transparent;
}

.card-deck {
    margin-bottom:  30px;
}

div .card-title {
    position: relative;
    text-align: center;
    justify-content: center;
}

div .card-text {
    position: relative;
    text-align: center;
    justify-content: center;
    font-size: medium;
}

p {
    padding-bottom: 10px !important;
}

@media only screen and (max-width: 1200px) {
    .card-columns {
        column-count: 2 !important;
        justify-content: center;
        text-align: center;
    }
}

@media only screen and (max-width: 760px) {
    .card-columns {
        column-count: 1 !important;
        justify-content: center;
        text-align: center;
    }
}

@media only screen and (max-width: 350px) {
    .card-columns {
        column-count: 1 !important;
        justify-content: center;
        text-align: center;
    }
}